{% extends "base.html" %}

{% block title %}Pagamentos{% endblock %}

{% block content %}
    <div class="flex-row row">
    <h1 class="card-body">Pagamentos de {{buyer.name}}</h1>
        <a class="card-body" href="/dashboard/buyer/{{buyer.id}}">
            <button type="button" class="btn btn-link">Voltar</button>
        </a>
    </div>
    <div class="flex-row">
    <div class="row">
        <div class="card bg-primary text-white m-4">
        <h2 class="card-body">Total:<br>R$ {{total_bought}}</h2></div>
        <div class="card bg-success text-white m-4">
        <h2 class="card-body">Pago:<br>R$ {{total_paid}}</h2></div>
        <div class="card bg-danger text-white m-4">
        <h2 class="card-body">A pagar:<br>R$ {{total_debt}}</h2></div>
    </div></div>
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Valor</th>
                <th>Comprovante</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
                <tr>
                    <td>{{ payment.date }}</td>
                    <td>{{ payment.value }}</td>
                    <td><a href={{payment.voucher.url}}>link</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
